.display-hoang {
    display: none;
}

.display-style2-hoang {
    display: none;
}

.brand-hoang {
    padding-left: 0rem;
}

.img-navbar-hoang {
    max-height: none !important;
    height: auto;
    width: 150px;
}

.p-hoang {
    text-align: center;
    color: white;
}

.but-hoang {
    background-color: transparent;
    border-radius: 0px;
    border-width: 3px;
    color: white;
    width: 50%;
    text-shadow: 1px 1px 3px #000000;
}

.box-hoang {
    background-color: transparent;
    box-shadow: none;
}

.icon-hoang {
    height: 38px;
}

.icon-i-hoang {
    font-size: 28px;
    color: aliceblue;
}

.dot {
    border-width: 10px;
    border: 3px solid rgb(255, 255, 255);
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: rgb(49, 114, 139);
    position: relative;
}

.col-hoang {
    margin-top: -3rem;
}

.p-i-hoang {
    color: rgb(49, 114, 139);
    font-size: 10px;
}

.sticky {
    position: sticky;
    top: 0;
    background-color: rgb(255, 255, 255);
    z-index: 1000000000;
}

.display-style1-hoang {
    display: none;
}

.button-hoang {
    border-style: none;
    background-color: transparent;
}

.dot:hover {
    border-width: 10px;
    border: 4px solid rgb(255, 255, 255);
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background: rgb(202, 110, 25);
    position: relative;
}

.dot2 {
    border-width: 10px;
    border: 4px double rgb(255, 255, 255);
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: rgb(49, 114, 139);
    position: relative;
}

.dot2:hover {
    animation-name: heartBeat;
    background: rgb(206, 122, 43);
}

.icon-hoang2 {
    height: 85px;
}

.icon-i-hoang2 {
    font-size: 50px;
    color: aliceblue;
}

.p-i-hoang:hover {
    color: rgb(202, 110, 25);
}

.half-col-hoang {
    border: 0.5px solid rgb(255, 255, 255);
    background-color: #f1f1f1;
}

.half-col-hoang:hover {
    border: 0.5px solid rgb(255, 255, 255);
    background-color: #3229b4;
    color: white;
}

.p-b-hoang {
    font-size: 24px;
    color: #30b830;
}

.block-15-hoang {
    margin-top: 0rem
}

.block-16-hoang {
    margin-top: 0rem
}

.block-17-hoang {
    /* width: 50%; */
    margin: auto;
}

.con-hoang {
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: -3rem;
}

.block-18-hoang {
    margin-top: 0rem
}

.con-19-hoang {
    margin-left: 0rem;
    margin-right: 0rem;
}

.block-20-hoang {
    margin-top: 0rem
}

.block-21-hoang {
    /* width: 50%; */
    margin: auto;
}

.con-22-hoang {
    margin: 0rem;
}

.col-15-hoang {
    text-align: center;
    color: rgb(54, 87, 177);
    font-size: 12px;
    vertical-align: middle;
}

.hero-hoang {
    margin-top: 0rem;
}

.span-hoang {
    padding-left: 1rem;
    padding-right: 1rem;
    display: inline-block;
}

.span-hoang2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: inline-block;
    font-size: 14px;
}